/* body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    border: 1px solid red;
    height: 100vh;
    background-color: red;
}

.center-top {
    height: 50vh;
    margin-top: 100px;
    margin-inline: 100px;
    border: 1px solid white;
}

.center-bottom {
    border: 1px solid white;
    height: 50vh;
    height: 50vh;
    margin-top: 100px;
    margin-inline: 100px;
} */
