
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <div class="main">

    <section class="jumbotron">
      <div class="jumbotron">
        <h1>The Fact Site</h1>
        <p>Welcome to The Fact Site</p>
      </div>
      <%- include('../partials/post.ejs') %>
    </<section>

  <footer> <%- include('../partials/footer'); %> </footer>
  </div>
</body>
</html>
