
img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.container {
    display: flex;
    width: auto;
    margin: -6px;
}

.right-side {

    padding: 15px;
    width: 50%;
    background: whitesmoke;
    padding-top: 50px;
}

.right-content {
    text-align: center;
}

.fa-brands {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 250%;
}

a {
    font-size: 18px;
    text-decoration: none;
}

.left-side {
    padding: 25px;;
}

.skills {
    display: inline-block;
    padding: 0 20px;
}
