.card {
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
    padding-inline: 1em;
    margin-bottom: 1em;
    max-width: 300px;
    margin-inline: auto;
    opacity: 2;
    cursor: pointer;
    transition: all 0.1 ease-in-out;
}

.card:hover {
    opacity: 1;
    scale:  1.03;
}

.card h2, 
.card h3 {
    margin-block: 0.3em;
}

.card h2 {
    font-size: 0.75em;
    color: grey;

}

.card_subtile {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.card_subtile i {
    font-size: 0.75rem;
}