



.container {
    display: flex;
    margin: 25px auto;
}

img {
    width: 100%;
}

.item-list {
    margin-right: 20px;
    background-color: #faf4f4;
}

.item-image {
   
    position: relative;
}

.new {
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 10px;
    border: 1px solid green;
    border-radius: 50%;
    background-color: green;
    color: #faf4f4;
}

.price-discount {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 10px;
    border: 1px solid red;
    border-radius: 50%;
    background-color: red;
    color: #faf4f4;
    padding-left: 5px;
    padding-right: 5px;
}

.item-detail {
    text-align: center;
    padding: 0 10px 5px 10px;
}

.price {
    color: rgb(16, 179, 122);
    font-weight: bold;
}

.discount {
    font-size: 12px;
    text-decoration: line-through;
    color: #b9a8a8;
    font-weight: bold;
}

button {
    height: 30px;
    font-size: 12px;
    color: #b9a8a8;
    font-weight: bold;
}


p {
    line-height: 10px;
}
