nav {
    display: flex;
    background: black;
    margin: -10px;
}

ul {
    position: absolute;
    right: 15px;
}

li {
    display: inline;
    padding-left: 25px;
}

a {
    color: #ffff;
    text-decoration: none;
}


.fa-crown {
    padding: 15px;
    font-size: larger;
    color: white;
    position: relative;
}



footer {
    position: fixed;
    left: 50%;
    bottom: 0;
    font-size: 10px;
}

