.wrap {
	background: #9e9e9e;
	width: 600px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-top: 25px;

}

.login, .side {
	padding-left: 15px;
}

.side {
	background-color: #339392 ;
}




